Repository daddyshortlegs/aws: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-backend, cargo-clippy-backend, cargo-fmt-proxy, cargo-clippy-proxy, go-fmt, go-vet, eslint-frontend

.pre-commit-config.yaml:

repos:
  # ── General ────────────────────────────────────────────────────────────────
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-yaml
      - id: check-toml

  # ── Rust ───────────────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: cargo-fmt-backend
        name: cargo fmt (backend)
        entry: cargo fmt --manifest-path backend/Cargo.toml -- --check
        language: system
        files: ^backend/.*\.rs$
        pass_filenames: false

      - id: cargo-clippy-backend
        name: cargo clippy (backend)
        entry: cargo clippy --manifest-path backend/Cargo.toml -- -D warnings
        language: system
        files: ^backend/.*\.rs$
        pass_filenames: false

      - id: cargo-fmt-proxy
        name: cargo fmt (proxy)
        entry: cargo fmt --manifest-path proxy/Cargo.toml -- --check
        language: system
        files: ^proxy/.*\.rs$
        pass_filenames: false

      - id: cargo-clippy-proxy
        name: cargo clippy (proxy)
        entry: cargo clippy --manifest-path proxy/Cargo.toml -- -D warnings
        language: system
        files: ^proxy/.*\.rs$
        pass_filenames: false

  # ── Go ─────────────────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt (terraform_provider)
        entry: bash -c 'unformatted=$(gofmt -l terraform_provider/); [ -z "$unformatted" ] || { echo "Run gofmt on:"; echo "$unformatted"; exit 1; }'
        language: system
        files: ^terraform_provider/.*\.go$
        pass_filenames: false

      - id: go-vet
        name: go vet (terraform_provider)
        entry: bash -c 'cd terraform_provider && go vet ./...'
        language: system
        files: ^terraform_provider/.*\.go$
        pass_filenames: false

  # ── Node ───────────────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: eslint-frontend
        name: eslint (frontend)
        entry: bash -c 'cd frontend && npx eslint src/'
        language: system
        files: ^frontend/src/.*\.[jt]sx?$
        pass_filenames: false

Add depedency auditing
  Brewfile
  Makefile
  backend/Makefile
  frontend/Makefile
  node-ssh/Makefile
  proxy/Makefile
  terraform_provider/Makefile
Due: none

Add registration of backends
  backend/Cargo.toml
  backend/config.ci.toml
  backend/config.toml
  backend/src/config.rs
  backend/src/main.rs
  backend/src/register.rs
  proxy/src/config.rs
  proxy/src/main.rs
  proxy/src/proxy_service.rs
Due: cargo-fmt-backend, cargo-clippy-backend, cargo-fmt-proxy, cargo-clippy-proxy

Added some tests for backend and proxy
  backend/src/register.rs
  backend/src/vm_db.rs
  backend/src/vm_service.rs
  frontend/package-lock.json
  proxy/Cargo.toml
  proxy/src/config.rs
  proxy/src/main.rs
  proxy/src/proxy_service.rs
Due: cargo-fmt-backend, cargo-clippy-backend, cargo-fmt-proxy, cargo-clippy-proxy

Add round-robin to select a backend
  proxy/Cargo.toml
  proxy/src/main.rs
  proxy/src/proxy_service.rs
  proxy/src/registry.rs
  terraform_provider/examples/main.tf
Due: cargo-fmt-proxy, cargo-clippy-proxy

Allow backend to use different configs
  backend/README.md
  backend/src/config.rs
  backend/src/main.rs
Due: cargo-fmt-backend, cargo-clippy-backend

Add another backend config
  backend/config.backend2.toml
Due: none

Add configs for local testing
  backend/config.backend3.toml
  backend/config.toml
  start.sh
Due: none

Spin VMs up on different PCs
  TODO.md
  backend/config.backend2.toml
  backend/config.backend3.toml
  backend/config.ci.toml
  backend/config.toml
  backend/deploy-backend.yaml
  backend/src/config.rs
  backend/src/main.rs
  frontend/Makefile
  frontend/package-lock.json
  inventory/nodes.yaml
  proxy/deploy-proxy.yaml
  proxy/src/config.rs
  proxy/src/main.rs
Due: cargo-fmt-backend, cargo-clippy-backend, cargo-fmt-proxy, cargo-clippy-proxy

Add host setup scripts
  scripts/host1-setup.sh
  scripts/workers-setup.sh
Due: none

Make backend install setup qemu
  backend/deploy-backend.yaml
Due: none

Add DHCP to hand out IPs to VMs
  scripts/host1-setup.sh
Due: none

dnsmasq should wait for the bridge to be up
  scripts/host1-setup.sh
Due: none

Setup bridge networking to give VMs proper IPs
  CLAUDE.md
  TODO.md
  backend/deploy-backend.yaml
  backend/src/config.rs
  backend/src/qemu.rs
  backend/src/vm_db.rs
  backend/src/vm_service.rs
  docs/qemu.md
  frontend/deploy-frontend.yaml
  frontend/src/components/StandaloneTerminal.tsx
  frontend/src/components/VMList.tsx
  frontend/src/config.ts
  frontend/src/pages/TerminalPage.tsx
  frontend/src/types.ts
  inventory/nodes.yaml
  proxy/src/registry.rs
Due: cargo-fmt-backend, cargo-clippy-backend, cargo-fmt-proxy, cargo-clippy-proxy, eslint-frontend

First stab at volume management
  backend/README.md
  backend/config.backend2.toml
  backend/config.backend3.toml
  backend/config.ci.toml
  backend/config.toml
  backend/deploy-backend.yaml
  backend/src/config.rs
  backend/src/main.rs
  backend/src/volume_db.rs
  backend/src/volume_service.rs
Due: cargo-fmt-backend, cargo-clippy-backend

Add ability to list files on a volume
  backend/src/main.rs
  backend/src/volume_service.rs
  frontend/src/App.tsx
  frontend/src/components/LaunchVolumeModal.tsx
  frontend/src/components/VolumeList.tsx
  frontend/src/config.ts
  frontend/src/types.ts
Due: cargo-fmt-backend, cargo-clippy-backend, eslint-frontend

Added CLI tool
  cli/Cargo.toml
  cli/Makefile
  cli/README.md
  cli/src/client.rs
  cli/src/cmd/mod.rs
  cli/src/cmd/vm.rs
  cli/src/cmd/volume.rs
  cli/src/main.rs
Due: none

Add agent to check code quality
  .claude/agents/code-quality-checker.md
  .claude/settings.json
  .gitignore
Due: none

Specify that TDD is needed when working in this repo
  CLAUDE.md
Due: none

Add missing Makefile rule to build cli
  Makefile
Due: none

Add script to restart all vm-launchers
  backend/restart-all-launchers.yaml
  restart-all-launchers.sh
Due: none

Fix issues with losing state between restarts
  ansible/restart-all-launchers.yaml
  ansible/restart-all.yaml
  backend/src/vm_service.rs
  proxy/Cargo.toml
  proxy/deploy-proxy.yaml
  proxy/src/config.rs
  proxy/src/ip_lookup.rs
  proxy/src/main.rs
  proxy/src/proxy_service.rs
  proxy/src/registry.rs
  restart-all.sh
Due: cargo-fmt-backend, cargo-clippy-backend, cargo-fmt-proxy, cargo-clippy-proxy

Fix routing for volumes and add API docs
  proxy/Cargo.toml
  proxy/src/config.rs
  proxy/src/main.rs
  proxy/src/registry.rs
Due: cargo-fmt-proxy, cargo-clippy-proxy

Add ability to stop and resume VM
  backend/src/main.rs
  backend/src/qemu.rs
  backend/src/vm_service.rs
  frontend/src/components/VMList.tsx
  frontend/src/config.ts
  frontend/src/types.ts
  proxy/.claude/agents/proxy-api-docs-writer.md
  proxy/src/main.rs
Due: cargo-fmt-backend, cargo-clippy-backend, cargo-fmt-proxy, cargo-clippy-proxy, eslint-frontend

Add shutdown scripts
  ansible/shutdown-all.yaml
  shutdown-all.sh
Due: none

Rename to orchestrator
  .claude/agents/code-quality-checker.md
  .pre-commit-config.yaml
  CLAUDE.md
  Makefile
  README.md
  ansible/restart-all.yaml
  backend/config.backend2.toml
  backend/config.backend3.toml
  backend/config.ci.toml
  backend/config.toml
  backend/deploy-backend.yaml
  backend/src/config.rs
  backend/src/main.rs
  backend/src/register.rs
  backend/src/vm_service.rs
  cli/README.md
  cli/src/main.rs
  frontend/src/config.ts
  proxy/.claude/agents/proxy-api-docs-writer.md
  proxy/Cargo.toml
  proxy/Makefile
  proxy/README.md
  proxy/config.toml
  proxy/deploy-proxy.yaml
  proxy/deploy.sh
  proxy/src/config.rs
  proxy/src/ip_lookup.rs
  proxy/src/main.rs
  proxy/src/proxy_service.rs
  proxy/src/registry.rs
  start.sh
  terraform_provider/README.md
  terraform_provider/examples/main.tf
  terraform_provider/internal/client/client.go
  terraform_provider/internal/provider/provider.go
  terraform_provider/internal/resource/vm/resource.go
Due: cargo-fmt-backend, cargo-clippy-backend, cargo-fmt-proxy, cargo-clippy-proxy, go-fmt, go-vet, eslint-frontend

Add orchestrator code
  orchestrator/.claude/agents/orchestrator-api-docs-writer.md
  orchestrator/Cargo.toml
  orchestrator/Makefile
  orchestrator/README.md
  orchestrator/config.toml
  orchestrator/deploy-orchestrator.yaml
  orchestrator/deploy.sh
  orchestrator/src/config.rs
  orchestrator/src/ip_lookup.rs
  orchestrator/src/main.rs
  orchestrator/src/orchestrator_service.rs
  orchestrator/src/registry.rs
Due: none

Add node_exporter to all nodes for monitoring.
  Makefile
  ansible/install-node-exporter.yaml
Due: none

Add Claude generated supporting documentation
  CLAUDE.md
  Makefile
  ansible/install-grafana.yaml
  ansible/install-prometheus.yaml
  docs/monitoring.md
Due: none
